* {
	-webkit-tap-highlight-color: black;
}

html, button {
	text-transform: uppercase;
	font-weight: bold;
	color: #cc4c30;
	font-family: sans-serif;

}

html {
	background: #8a8e99;
}

h1,
main,
div {
	padding: 1rem;
}

main,
div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

h1 {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 0;
}

h2 {
	text-align: center;
	font-size: 1.3rem;
	margin-bottom: 0;
}

h1 span {
	display: inline-block;
	padding-bottom: 0.5em;
	border-bottom: 3px solid #f2712e;
}

button {
	background: #ffa67a;
	border: 1px solid #ffa67a;
	border-radius: 58px;
	padding: 1em 3em;
	font-size:120%;
}

.button-connect {
	background: #cc4c30;
	border-color: #cc4c30;
	color: #ffa67a;
	font-size:150%;
}

.button-led {
	text-indent: -9999em;
	overflow: hidden;
	border-radius: 50%;
	padding: 0;
	width: 3em;
	height: 3em;
	border-color: #6f737d;
	position: relative;
	z-index: 10;
	background: transparent;
}

.button-led::before {
	border-radius: 50%;
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	/*border:5px solid orange;*/
}

.button-led-red::before {
	background: #fa0012;
}

.button-led-green::before {
	background: #00f923;
}

.button-led-blue::before {
	background: #0045e2;
}

.button-off::before {
	background: #9fa2a9;
}

.active {
	background: #58a7e2;
}
